:root {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.45;

  color: #6b6375;   /* your soft gray text */
  background: #fff; /* keep white background */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}


body {
  margin: 0;
}